In [ ]:
import logging
from linkedin_jobs_scraper import LinkedinScraper
from linkedin_jobs_scraper.events import Events, EventData, EventMetrics
from linkedin_jobs_scraper.query import Query, QueryOptions, QueryFilters
from linkedin_jobs_scraper.filters import RelevanceFilters, TimeFilters, TypeFilters, ExperienceLevelFilters, RemoteFilters
from datetime import datetime
import os
import pandas as pd

# Change root logger level (default is WARN)
logging.basicConfig(level = logging.INFO)
os.environ["LI_AT_COOKIE"] = "AQEDARESB8QCCCceAAABgyga0fIAAAGDTCdV8k4Ak3TFNJsbSAF_TqXL7lVHcHkEjj5H38QFkYkSN6L2pDfANEe0AN1zNYf1J1zzhZwYN4RXZ7Q4hTZAsxqVeY2c8n0BjKXtCjIJmF27OWpL0aAceoZ_"

data_df = pd.DataFrame(columns=['time', 'job_id', 'title', 'company', 'company_link', 'link', 'insights', 'description', 'date', 'place', 'location'])

# Fired once for each successfully processed job
def on_data(data: EventData):
    print('[ON_DATA]', data.title, data.company, data.company_link, data.job_id, data.link, data.insights, len(data.description))
    time = datetime.now().strftime("%d/%m/%Y %H:%M:%S")
    job_id = data.job_id
    title = data.title
    company = data.company
    company_link = data.company_link
    link = data.link
    insights = data.insights
    description = data.description
    date = data.date
    place = data.place
    location = data.location
    
    file_name = time
    data_df.loc[len(data_df)] = [time, job_id, title, company, company_link, link, insights, description, date, place, location]
    
# Fired once for each page (25 jobs)
def on_metrics(metrics: EventMetrics):
  print('[ON_METRICS]', str(metrics))

def on_error(error):
    print('[ON_ERROR]', error)

def on_end():
    print('[ON_END]')


scraper = LinkedinScraper(
    chrome_executable_path=r"C:\Users\User\Downloads\chromedriver_win32\chromedriver.exe", # Custom Chrome executable path (e.g. /foo/bar/bin/chromedriver) 
    chrome_options=None,  # Custom Chrome options here
    headless=True,  # Overrides headless mode only if chrome_options is None
    max_workers=1,  # How many threads will be spawned to run queries concurrently (one Chrome driver for each thread)
    slow_mo=2,  # Slow down the scraper to avoid 'Too many requests 429' errors (in seconds)
    page_load_timeout=20  # Page load timeout (in seconds)    
#     LI_AT_COOKIE=<your li_at cookie value here> python your_app.py
)

# Add event listeners
scraper.on(Events.DATA, on_data)
scraper.on(Events.ERROR, on_error)
scraper.on(Events.END, on_end)

queries = [
    Query(
        query='Data Analyst',
        options=QueryOptions(
            locations=['United States'],            
            apply_link = True,  # Try to extract apply link (easy applies are skipped). Default to False.
            limit=100000,
            filters=QueryFilters(              
#                 company_jobs_url='https://www.linkedin.com/jobs/search/?f_C=1441%2C17876832%2C791962%2C2374003%2C18950635%2C16140%2C10440912&geoId=92000000',  # Filter by companies.
#                 relevance=RelevanceFilters.RECENT,
                time=TimeFilters.MONTH,
                type=[TypeFilters.FULL_TIME]
            )
        )
    ),
]

scraper.run(queries)

INFO:li:scraper:('Using strategy AnonymousStrategy',)
WARNING:li:scraper:("AnonymousStrategy is no longer maintained and it won't probably work. It is recommended to use an authenticated session, see documentation at https://github.com/spinlud/py-linkedin-jobs-scraper#anonymous-vs-authenticated-session.",)
INFO:li:scraper:('Starting new query', "Query(query=Data Analyst options=QueryOptions(limit=100000 locations=['United States'] filters=QueryFilters(time=TimeFilters.MONTH type=[<TypeFilters.FULL_TIME: 'F'>]) optimize=False apply_link=True))")
INFO:li:scraper:('Chrome debugger url', 'http://localhost:52820')
INFO:li:scraper:('[Data Analyst][United States]', 'Opening https://www.linkedin.com/jobs/search?keywords=Data+Analyst&location=United+States&f_TPR=r2592000&f_JT=F&start=0')
INFO:li:scraper:('[Data Analyst][United States]', 'Trying first selectors set')
INFO:li:scraper:('[Data Analyst][United States]', 'Trying second selectors set')
INFO:li:scraper:('[Data Analyst][United States]', 'OK')
INFO:li:scraper:('[Data Analyst][United States]', 'Starting pagination loop')
INFO:li:scraper:('[Data Analyst][United States]', 'Found 25 jobs')
INFO:li:scraper:('[Data Analyst][United States][1]', 'Processed')

[ON_DATA] Data Analyst- Data and AI Platform Visa  3228632185 https://www.linkedin.com/jobs/view/data-analyst-data-and-ai-platform-at-visa-3228632185?refId=pUW5Rd%2FpOprNMZPVt4vgPQ%3D%3D&trackingId=J%2FKyjBFAwOcIk8aOlPpSuA%3D%3D&position=1&pageNum=0&trk=public_jobs_jserp-result_search-card [] 4045

WARNING:li:scraper:('[Data Analyst][United States]', '[429] Too many requests', 'You should probably increase scraper "slow_mo" value or reduce concurrency')
WARNING:li:scraper:('[Data Analyst][United States]', '[429] Too many requests', 'You should probably increase scraper "slow_mo" value or reduce concurrency')
INFO:li:scraper:('[Data Analyst][United States][2]', 'Processed')

[ON_DATA] Associate Data Analyst Tesla  3237474295 https://www.linkedin.com/jobs/view/associate-data-analyst-at-tesla-3237474295?refId=pUW5Rd%2FpOprNMZPVt4vgPQ%3D%3D&trackingId=HlPp%2FTPRTh3phlUtf6lRoQ%3D%3D&position=2&pageNum=0&trk=public_jobs_jserp-result_search-card [] 2845

INFO:li:scraper:('[Data Analyst][United States][3]', 'Processed')

[ON_DATA] Data Analyst The Walt Disney Company  3236597268 https://www.linkedin.com/jobs/view/data-analyst-at-the-walt-disney-company-3236597268?refId=pUW5Rd%2FpOprNMZPVt4vgPQ%3D%3D&trackingId=z%2BdF4%2FS%2FbWxpWFuWekwsmA%3D%3D&position=3&pageNum=0&trk=public_jobs_jserp-result_search-card [] 149

INFO:li:scraper:('[Data Analyst][United States][4]', 'Processed')

[ON_DATA] Data Analyst TikTok  3235196986 https://www.linkedin.com/jobs/view/data-analyst-at-tiktok-3235196986?refId=pUW5Rd%2FpOprNMZPVt4vgPQ%3D%3D&trackingId=3S7ubH7kmVhkiAovIzp5YA%3D%3D&position=4&pageNum=0&trk=public_jobs_jserp-result_search-card [] 4875

INFO:li:scraper:('[Data Analyst][United States][5]', 'Processed')

[ON_DATA] Data Analyst Numero Data  3265245851 https://www.linkedin.com/jobs/view/data-analyst-at-numero-data-3265245851?refId=pUW5Rd%2FpOprNMZPVt4vgPQ%3D%3D&trackingId=f82aGjN%2F8w4CM3p0WbcoFw%3D%3D&position=5&pageNum=0&trk=public_jobs_jserp-result_search-card [] 946

INFO:li:scraper:('[Data Analyst][United States][6]', 'Processed')

[ON_DATA] Data Analyst, Demand and Production Planning Tesla  3237418047 https://www.linkedin.com/jobs/view/data-analyst-demand-and-production-planning-at-tesla-3237418047?refId=pUW5Rd%2FpOprNMZPVt4vgPQ%3D%3D&trackingId=gp8b3BpeneyqU7s%2Fm9xyrg%3D%3D&position=6&pageNum=0&trk=public_jobs_jserp-result_search-card [] 1783

INFO:li:scraper:('[Data Analyst][United States][7]', 'Processed')

[ON_DATA] Data Analyst, Automation and Analytics Tesla  3234261196 https://www.linkedin.com/jobs/view/data-analyst-automation-and-analytics-at-tesla-3234261196?refId=pUW5Rd%2FpOprNMZPVt4vgPQ%3D%3D&trackingId=pGNYQSjRaJyI%2FTxLXFCXuQ%3D%3D&position=7&pageNum=0&trk=public_jobs_jserp-result_search-card [] 3040

INFO:li:scraper:('[Data Analyst][United States][8]', 'Processed')

[ON_DATA] Data Analyst Scripps Health  3237430020 https://www.linkedin.com/jobs/view/data-analyst-at-scripps-health-3237430020?refId=pUW5Rd%2FpOprNMZPVt4vgPQ%3D%3D&trackingId=mpVjhmnbfp%2FI9vaCrM1XTg%3D%3D&position=8&pageNum=0&trk=public_jobs_jserp-result_search-card [] 2228

INFO:li:scraper:('[Data Analyst][United States][9]', 'Processed')

[ON_DATA] Data Analyst Vanguard  3257335394 https://www.linkedin.com/jobs/view/data-analyst-at-vanguard-3257335394?refId=pUW5Rd%2FpOprNMZPVt4vgPQ%3D%3D&trackingId=zKAvgDEyTfwvinndVGDZfw%3D%3D&position=9&pageNum=0&trk=public_jobs_jserp-result_search-card [] 5620

INFO:li:scraper:('[Data Analyst][United States][10]', 'Processed')

[ON_DATA] Data Analyst TikTok  3250344293 https://www.linkedin.com/jobs/view/data-analyst-at-tiktok-3250344293?refId=pUW5Rd%2FpOprNMZPVt4vgPQ%3D%3D&trackingId=WrrZupvT2bcyTVHc%2BuJt6g%3D%3D&position=10&pageNum=0&trk=public_jobs_jserp-result_search-card [] 4404

INFO:li:scraper:('[Data Analyst][United States][11]', 'Processed')

[ON_DATA] Associate Data Analyst Scholastic  3266880738 https://www.linkedin.com/jobs/view/associate-data-analyst-at-scholastic-3266880738?refId=pUW5Rd%2FpOprNMZPVt4vgPQ%3D%3D&trackingId=45SbV4L8VJUPj9fOb1P7CA%3D%3D&position=11&pageNum=0&trk=public_jobs_jserp-result_search-card [] 5913

INFO:li:scraper:('[Data Analyst][United States][12]', 'Processed')

[ON_DATA] Data Analyst (Remote) The Home Depot  3249536123 https://www.linkedin.com/jobs/view/data-analyst-remote-at-the-home-depot-3249536123?refId=pUW5Rd%2FpOprNMZPVt4vgPQ%3D%3D&trackingId=q%2FBnIIHHDFadNygXAzYK9A%3D%3D&position=12&pageNum=0&trk=public_jobs_jserp-result_search-card [] 3709

INFO:li:scraper:('[Data Analyst][United States][13]', 'Processed')

[ON_DATA] Data Analyst Givebutter  3256988698 https://www.linkedin.com/jobs/view/data-analyst-at-givebutter-3256988698?refId=pUW5Rd%2FpOprNMZPVt4vgPQ%3D%3D&trackingId=IAkqAFISHIjpCcrlOtSLLg%3D%3D&position=13&pageNum=0&trk=public_jobs_jserp-result_search-card [] 2798

WARNING:li:scraper:('[Data Analyst][United States]', '[429] Too many requests', 'You should probably increase scraper "slow_mo" value or reduce concurrency')
WARNING:li:scraper:('[Data Analyst][United States]', '[429] Too many requests', 'You should probably increase scraper "slow_mo" value or reduce concurrency')
ERROR:li:scraper:('[Data Analyst][United States][14]', 'Timeout on loading job details')
NoneType: None
INFO:li:scraper:('[Data Analyst][United States][14]', 'Processed')

[ON_DATA] Remote Data Analyst Insight Global  3260061778 https://www.linkedin.com/jobs/view/remote-data-analyst-at-insight-global-3260061778?refId=pUW5Rd%2FpOprNMZPVt4vgPQ%3D%3D&trackingId=AP92EECVuEkWJvJrKTwDTw%3D%3D&position=15&pageNum=0&trk=public_jobs_jserp-result_search-card [] 1225

INFO:li:scraper:('[Data Analyst][United States][15]', 'Processed')

[ON_DATA] Data Analyst TikTok  3250341749 https://www.linkedin.com/jobs/view/data-analyst-at-tiktok-3250341749?refId=pUW5Rd%2FpOprNMZPVt4vgPQ%3D%3D&trackingId=6ZqU287j5dUy1NgzQq9fmw%3D%3D&position=16&pageNum=0&trk=public_jobs_jserp-result_search-card [] 4404

WARNING:li:scraper:('[Data Analyst][United States]', '[429] Too many requests', 'You should probably increase scraper "slow_mo" value or reduce concurrency')
WARNING:li:scraper:('[Data Analyst][United States]', '[429] Too many requests', 'You should probably increase scraper "slow_mo" value or reduce concurrency')
ERROR:li:scraper:('[Data Analyst][United States][16]', 'Timeout on loading job details')
NoneType: None
INFO:li:scraper:('[Data Analyst][United States][16]', 'Processed')

[ON_DATA] Consulting Data Analyst Kaiser Permanente  3254903721 https://www.linkedin.com/jobs/view/consulting-data-analyst-at-kaiser-permanente-3254903721?refId=pUW5Rd%2FpOprNMZPVt4vgPQ%3D%3D&trackingId=YPfkJruT3Ogc3nnLeoVcfg%3D%3D&position=18&pageNum=0&trk=public_jobs_jserp-result_search-card [] 1978

ERROR:li:scraper:('[Data Analyst][United States][17]', JavascriptException("javascript error: Cannot read properties of null (reading 'scrollIntoView')\n  (Session info: headless chrome=105.0.5195.102)", None, None), 'Traceback (most recent call last):\n  File "C:\\Users\\User\\anaconda3\\lib\\site-packages\\linkedin_jobs_scraper\\strategies\\anonymous_strategy.py", line 267, in run\n    job_id, job_link, job_title, job_company, job_place, job_date = driver.execute_script(\n  File "C:\\Users\\User\\anaconda3\\lib\\site-packages\\selenium\\webdriver\\remote\\webdriver.py", line 634, in execute_script\n    return self.execute(command, {\n  File "C:\\Users\\User\\anaconda3\\lib\\site-packages\\selenium\\webdriver\\remote\\webdriver.py", line 321, in execute\n    self.error_handler.check_response(response)\n  File "C:\\Users\\User\\anaconda3\\lib\\site-packages\\selenium\\webdriver\\remote\\errorhandler.py", line 242, in check_response\n    raise exception_class(message, screen, stacktrace)\nselenium.commo...
Traceback (most recent call last):
  File "C:\Users\User\anaconda3\lib\site-packages\linkedin_jobs_scraper\strategies\anonymous_strategy.py", line 267, in run
    job_id, job_link, job_title, job_company, job_place, job_date = driver.execute_script(
  File "C:\Users\User\anaconda3\lib\site-packages\selenium\webdriver\remote\webdriver.py", line 634, in execute_script
    return self.execute(command, {
  File "C:\Users\User\anaconda3\lib\site-packages\selenium\webdriver\remote\webdriver.py", line 321, in execute
    self.error_handler.check_response(response)
  File "C:\Users\User\anaconda3\lib\site-packages\selenium\webdriver\remote\errorhandler.py", line 242, in check_response
    raise exception_class(message, screen, stacktrace)
selenium.common.exceptions.JavascriptException: Message: javascript error: Cannot read properties of null (reading 'scrollIntoView')
  (Session info: headless chrome=105.0.5195.102)

[ON_ERROR] Message: javascript error: Cannot read properties of null (reading 'scrollIntoView')
  (Session info: headless chrome=105.0.5195.102)

Traceback (most recent call last):
  File "C:\Users\User\anaconda3\lib\site-packages\linkedin_jobs_scraper\strategies\anonymous_strategy.py", line 267, in run
    job_id, job_link, job_title, job_company, job_place, job_date = driver.execute_script(
  File "C:\Users\User\anaconda3\lib\site-packages\selenium\webdriver\remote\webdriver.py", line 634, in execute_script
    return self.execute(command, {
  File "C:\Users\User\anaconda3\lib\site-packages\selenium\webdriver\remote\webdriver.py", line 321, in execute
    self.error_handler.check_response(response)
  File "C:\Users\User\anaconda3\lib\site-packages\selenium\webdriver\remote\errorhandler.py", line 242, in check_response
    raise exception_class(message, screen, stacktrace)
selenium.common.exceptions.JavascriptException: Message: javascript error: Cannot read properties of null (reading 'scrollIntoView')
  (Session info: headless chrome=105.0.5195.102)

INFO:li:scraper:('[Data Analyst][United States][17]', 'Processed')

[ON_DATA] Data Analyst Associate - 2023 Capital One  3224179483 https://www.linkedin.com/jobs/view/data-analyst-associate-2023-at-capital-one-3224179483?refId=pUW5Rd%2FpOprNMZPVt4vgPQ%3D%3D&trackingId=SbMm6opSgG9seBS7W4Plrw%3D%3D&position=20&pageNum=0&trk=public_jobs_jserp-result_search-card [] 7688

INFO:li:scraper:('[Data Analyst][United States][18]', 'Processed')

[ON_DATA] Data Analyst - Infrastructure Data Centers TikTok  3215452315 https://www.linkedin.com/jobs/view/data-analyst-infrastructure-data-centers-at-tiktok-3215452315?refId=pUW5Rd%2FpOprNMZPVt4vgPQ%3D%3D&trackingId=Uu3JKHoKsKt%2FvP8o3FusBQ%3D%3D&position=21&pageNum=0&trk=public_jobs_jserp-result_search-card [] 3298

INFO:li:scraper:('[Data Analyst][United States][19]', 'Processed')

[ON_DATA] Data Analyst Aston Carter  3267667255 https://www.linkedin.com/jobs/view/data-analyst-at-aston-carter-3267667255?refId=pUW5Rd%2FpOprNMZPVt4vgPQ%3D%3D&trackingId=HdYBdlyHS29zPgm6bp8suw%3D%3D&position=22&pageNum=0&trk=public_jobs_jserp-result_search-card [] 3764

INFO:li:scraper:('[Data Analyst][United States][20]', 'Processed')

[ON_DATA] Customer Data Analyst Wawa, Inc.  3257647577 https://www.linkedin.com/jobs/view/customer-data-analyst-at-wawa-inc-3257647577?refId=pUW5Rd%2FpOprNMZPVt4vgPQ%3D%3D&trackingId=T1FT5ff4nS1wPEfsuvq8Hg%3D%3D&position=23&pageNum=0&trk=public_jobs_jserp-result_search-card [] 5975

INFO:li:scraper:('[Data Analyst][United States][21]', 'Processed')

[ON_DATA] Data Analyst- Supply Chain Data Quality (Remote) The Home Depot  3255720428 https://www.linkedin.com/jobs/view/data-analyst-supply-chain-data-quality-remote-at-the-home-depot-3255720428?refId=pUW5Rd%2FpOprNMZPVt4vgPQ%3D%3D&trackingId=wqwouAkLLGZS1rGY3gF8qg%3D%3D&position=24&pageNum=0&trk=public_jobs_jserp-result_search-card [] 3284

INFO:li:scraper:('[Data Analyst][United States][22]', 'Processed')

[ON_DATA] Entry Level, Data Analyst Actalent  3267656561 https://www.linkedin.com/jobs/view/entry-level-data-analyst-at-actalent-3267656561?refId=pUW5Rd%2FpOprNMZPVt4vgPQ%3D%3D&trackingId=yzE805sy7odkFrWfbdSdZQ%3D%3D&position=25&pageNum=0&trk=public_jobs_jserp-result_search-card [] 2473

INFO:li:scraper:('[Data Analyst][United States][23]', 'Processed')

[ON_DATA] Data Analyst Aston Carter  3267662811 https://www.linkedin.com/jobs/view/data-analyst-at-aston-carter-3267662811?refId=szQ3qwgMJBWvqpyF53nuNQ%3D%3D&trackingId=iOjbDyJ5ekx02MxtXxfIVw%3D%3D&position=1&pageNum=1&trk=public_jobs_jserp-result_search-card [] 3764

INFO:li:scraper:('[Data Analyst][United States][24]', 'Processed')

[ON_DATA] Jr. Data Analyst Healthy Directions  3245367348 https://www.linkedin.com/jobs/view/jr-data-analyst-at-healthy-directions-3245367348?refId=szQ3qwgMJBWvqpyF53nuNQ%3D%3D&trackingId=IMXPxN7eUUZLHqjFoWGJrw%3D%3D&position=2&pageNum=1&trk=public_jobs_jserp-result_search-card [] 3030

INFO:li:scraper:('[Data Analyst][United States][25]', 'Processed')

[ON_DATA] Business Data Analyst DraftKings Inc.  3258117198 https://www.linkedin.com/jobs/view/business-data-analyst-at-draftkings-inc-3258117198?refId=szQ3qwgMJBWvqpyF53nuNQ%3D%3D&trackingId=Q5wu7J4wfw%2Bp3lq7EOteXA%3D%3D&position=3&pageNum=1&trk=public_jobs_jserp-result_search-card [] 2628

INFO:li:scraper:('[Data Analyst][United States][26]', 'Processed')

[ON_DATA] Senior Data Analyst Walmart  3258109675 https://www.linkedin.com/jobs/view/senior-data-analyst-at-walmart-3258109675?refId=szQ3qwgMJBWvqpyF53nuNQ%3D%3D&trackingId=4lKbQ6Tsv%2F61%2Bfs01sC8Eg%3D%3D&position=4&pageNum=1&trk=public_jobs_jserp-result_search-card [] 6413

INFO:li:scraper:('[Data Analyst][United States][27]', 'Processed')

[ON_DATA] Data Analyst II - World Trade Center Health Program Data Center (Remote) Mount Sinai Health System  3237751378 https://www.linkedin.com/jobs/view/data-analyst-ii-world-trade-center-health-program-data-center-remote-at-mount-sinai-health-system-3237751378?refId=szQ3qwgMJBWvqpyF53nuNQ%3D%3D&trackingId=kyj6VajLQDavidCxNtKM9Q%3D%3D&position=5&pageNum=1&trk=public_jobs_jserp-result_search-card [] 6323

INFO:li:scraper:('[Data Analyst][United States][28]', 'Processed')

[ON_DATA] Data Analytics & Insights Analyst Barclays  3236507455 https://www.linkedin.com/jobs/view/data-analytics-insights-analyst-at-barclays-3236507455?refId=szQ3qwgMJBWvqpyF53nuNQ%3D%3D&trackingId=ApAZe1xkxoKDTpIohtbBKQ%3D%3D&position=6&pageNum=1&trk=public_jobs_jserp-result_search-card [] 3070

ERROR:li:scraper:('[Data Analyst][United States][29]', JavascriptException("javascript error: Cannot read properties of null (reading 'scrollIntoView')\n  (Session info: headless chrome=105.0.5195.102)", None, None), 'Traceback (most recent call last):\n  File "C:\\Users\\User\\anaconda3\\lib\\site-packages\\linkedin_jobs_scraper\\strategies\\anonymous_strategy.py", line 267, in run\n    job_id, job_link, job_title, job_company, job_place, job_date = driver.execute_script(\n  File "C:\\Users\\User\\anaconda3\\lib\\site-packages\\selenium\\webdriver\\remote\\webdriver.py", line 634, in execute_script\n    return self.execute(command, {\n  File "C:\\Users\\User\\anaconda3\\lib\\site-packages\\selenium\\webdriver\\remote\\webdriver.py", line 321, in execute\n    self.error_handler.check_response(response)\n  File "C:\\Users\\User\\anaconda3\\lib\\site-packages\\selenium\\webdriver\\remote\\errorhandler.py", line 242, in check_response\n    raise exception_class(message, screen, stacktrace)\nselenium.commo...
Traceback (most recent call last):
  File "C:\Users\User\anaconda3\lib\site-packages\linkedin_jobs_scraper\strategies\anonymous_strategy.py", line 267, in run
    job_id, job_link, job_title, job_company, job_place, job_date = driver.execute_script(
  File "C:\Users\User\anaconda3\lib\site-packages\selenium\webdriver\remote\webdriver.py", line 634, in execute_script
    return self.execute(command, {
  File "C:\Users\User\anaconda3\lib\site-packages\selenium\webdriver\remote\webdriver.py", line 321, in execute
    self.error_handler.check_response(response)
  File "C:\Users\User\anaconda3\lib\site-packages\selenium\webdriver\remote\errorhandler.py", line 242, in check_response
    raise exception_class(message, screen, stacktrace)
selenium.common.exceptions.JavascriptException: Message: javascript error: Cannot read properties of null (reading 'scrollIntoView')
  (Session info: headless chrome=105.0.5195.102)

[ON_ERROR] Message: javascript error: Cannot read properties of null (reading 'scrollIntoView')
  (Session info: headless chrome=105.0.5195.102)

Traceback (most recent call last):
  File "C:\Users\User\anaconda3\lib\site-packages\linkedin_jobs_scraper\strategies\anonymous_strategy.py", line 267, in run
    job_id, job_link, job_title, job_company, job_place, job_date = driver.execute_script(
  File "C:\Users\User\anaconda3\lib\site-packages\selenium\webdriver\remote\webdriver.py", line 634, in execute_script
    return self.execute(command, {
  File "C:\Users\User\anaconda3\lib\site-packages\selenium\webdriver\remote\webdriver.py", line 321, in execute
    self.error_handler.check_response(response)
  File "C:\Users\User\anaconda3\lib\site-packages\selenium\webdriver\remote\errorhandler.py", line 242, in check_response
    raise exception_class(message, screen, stacktrace)
selenium.common.exceptions.JavascriptException: Message: javascript error: Cannot read properties of null (reading 'scrollIntoView')
  (Session info: headless chrome=105.0.5195.102)

INFO:li:scraper:('[Data Analyst][United States][29]', 'Processed')

[ON_DATA] Data Analytics & Insights Analyst Barclays  3236510157 https://www.linkedin.com/jobs/view/data-analytics-insights-analyst-at-barclays-3236510157?refId=szQ3qwgMJBWvqpyF53nuNQ%3D%3D&trackingId=3muLQz2EwZBZZ8M0n4QiFw%3D%3D&position=8&pageNum=1&trk=public_jobs_jserp-result_search-card [] 3072

INFO:li:scraper:('[Data Analyst][United States][30]', 'Processed')

[ON_DATA] Data Analyst Dow Jones  3258492819 https://www.linkedin.com/jobs/view/data-analyst-at-dow-jones-3258492819?refId=szQ3qwgMJBWvqpyF53nuNQ%3D%3D&trackingId=7PLW2xZ3Fjl9eLbkd0kkdg%3D%3D&position=9&pageNum=1&trk=public_jobs_jserp-result_search-card [] 5620

INFO:li:scraper:('[Data Analyst][United States][31]', 'Processed')

[ON_DATA] Data Analyst The Walt Disney Company  3239504095 https://www.linkedin.com/jobs/view/data-analyst-at-the-walt-disney-company-3239504095?refId=szQ3qwgMJBWvqpyF53nuNQ%3D%3D&trackingId=qKd3GZQSnpY3b4dMq401gQ%3D%3D&position=10&pageNum=1&trk=public_jobs_jserp-result_search-card [] 3936

WARNING:li:scraper:('[Data Analyst][United States]', '[429] Too many requests', 'You should probably increase scraper "slow_mo" value or reduce concurrency')
WARNING:li:scraper:('[Data Analyst][United States]', '[429] Too many requests', 'You should probably increase scraper "slow_mo" value or reduce concurrency')
ERROR:li:scraper:('[Data Analyst][United States][32]', 'Timeout on loading job details')
NoneType: None
WARNING:li:scraper:('[Data Analyst][United States]', '[429] Too many requests', 'You should probably increase scraper "slow_mo" value or reduce concurrency')
WARNING:li:scraper:('[Data Analyst][United States]', '[429] Too many requests', 'You should probably increase scraper "slow_mo" value or reduce concurrency')

In [ ]:
time = datetime.now().strftime("%d-%m-%Y")
data_df.to_csv('data analyst - ' +time+'.csv',sep=';')

In [37]:
data_df

,time,title,company,company_link,link,insights,description,date,place,location
0,13/09/2022 08:13:04,Data Science Graduate,Hewlett Packard Enterprise,,https://www.linkedin.com/jobs/view/data-scienc...,[],"This role has been designated as ‘Edge’, which...",2022-09-06,"San Jose, CA",United States
1,13/09/2022 08:13:06,Data Science Intern,Hewlett Packard Enterprise,,https://www.linkedin.com/jobs/view/data-scienc...,[],"This role has been designated as ‘Edge’, which...",2022-09-07,"San Jose, CA",United States
2,13/09/2022 08:13:09,Data Scientist - New Grad (2023 Start),Databricks,,https://www.linkedin.com/jobs/view/data-scient...,[],"At Databricks, we are passionate about helping...",2022-09-06,"San Francisco, CA",United States
3,13/09/2022 08:13:11,Data Scientist,Hyatt Hotels Corporation,,https://www.linkedin.com/jobs/view/data-scient...,[],The Role\n\nSupport a variety of algorithmic p...,2022-09-12,United States,United States
4,13/09/2022 08:13:14,2023 Data Scientist Intern,Merck,,https://www.linkedin.com/jobs/view/2023-data-s...,[],Job Description\n\n\n\n\nThe Future Talent Pro...,2022-09-06,"North Wales, PA",United States
...,...,...,...,...,...,...,...,...,...,...
651,13/09/2022 08:44:23,Consulting Analyst,Social Standards,,https://www.linkedin.com/jobs/view/consulting-...,[],We’ve built a first-of-its-kind insights platf...,2022-09-12,"New York, NY",United States
652,13/09/2022 08:44:25,Data Analyst,Wipro,,https://www.linkedin.com/jobs/view/data-analys...,[],Role Title\n\n\n\n\nData Analyst\n\n\n\n\nRepo...,2022-09-08,"Austin, TX",United States
653,13/09/2022 08:44:28,IT Data Science Intern,Amcor,,https://www.linkedin.com/jobs/view/it-data-sci...,[],"We are global, we are impacting the lives of m...",2022-08-31,"Oshkosh, WI",United States
654,13/09/2022 08:44:30,Data Scientist,Dice,,https://www.linkedin.com/jobs/view/data-scient...,[],Dice is the leading career destination for tec...,2022-09-07,"Phoenix, AZ",United States
655,13/09/2022 08:44:33,Data Analyst II,Microsoft,,https://www.linkedin.com/jobs/view/data-analys...,[],"Are you motivated by using data, analytics, an...",2022-09-12,"Nebraska, United States",United States